.vscode/

fifty-states-main/

FL/FL_Processed/fl/
FL/FL_Processed/fl_2024_gen_2020_blocks/
FL/FL_Processed/FL_ALARM/
FL/FL_Processed/fl_cong_adopted_2022/
FL/FL_Processed/FL_eveomett/
FL/FL_Processed/fl_pl2020_b/
FL/FL_Processed/fl_pl2020_cnty/
FL/FL_Processed/fl_sldl_adopted_2022/
FL/FL_Processed/fl_sldu_adopted_2022/
FL/FL_Processed/fl_vest_16/
FL/FL_Processed/fl_vest_18/
FL/FL_Processed/fl_vest_20/
FL/FL_Processed/output/
FL/FL_Stats/

GA/GA_Ensemble_Graphs/
GA/GA_Ensemble_Stats/
GA/GA_Processed/ga_2020_gen_2020_blocks/
GA/GA_Processed/ga_2022_gen_prec
GA/GA_Processed/GA_ALARM/
GA/GA_Processed/ga_cong_adopted_2023/
GA/GA_Processed/ga_pl2020_b/
GA/GA_Processed/ga_pl2020_cnty/
GA/GA_Processed/ga_sldl_adopted_2023/
GA/GA_Processed/ga_sldu_adopted_2023/
GA/GA_Processed/ga_vest_16/
GA/GA_Processed/ga_vest_18/
GA/GA_Processed/output/
GA/GA_Seed_Plans/
GA/GA_Stats/
GA/GA_assignment_current.json
GA/Redist Analysis/GA_ALARM_Ensemble_stats
GA/Redist Analysis/output
GA/Redist Analysis/ga_alarm_plans.csv

MEW_walkthrough/

NC/__pycache__/
NC/NC_First_Ensemble_gif/
NC/NC_First_Ensemble_stats/
NC/NC_Markov_gif_1/
NC/NC_Markov_gif_2/
NC/NC_Markov_gif_3/
NC/NC_Markov_stats_1/
NC/NC_Markov_stats_5000/
NC/NC_Markov_stats_100000/
NC/NC_Processed/nc_2024_gen_2020_blocks/
NC/NC_Processed/NC_ALARM
NC/NC_Processed/nc_cong_adopted_2025/
NC/NC_Processed/nc_pl2020_b/
NC/NC_Processed/nc_pl2020_cnty/
NC/NC_Processed/nc_sldl_adopted_2023/
NC/NC_Processed/nc_sldu_adopted_2023/
NC/NC_Processed/nc_vest_16/
NC/NC_Processed/nc_vest_18/
NC/NC_Processed/nc_vest_20/
NC/NC_Processed/output/
NC/NC_Seed_Plans/
NC/NC_Stats/
NC/NC_assignment_{seed}_{temp}.json
NC/NC_assignment_current.json
NC/Redist Analysis/NC_ALARM_Ensemble_graph
NC/Redist Analysis/NC_ALARM_Ensemble_stats
NC/Redist Analysis/output
NC/Redist Analysis/nc_alarm_plans.csv
NC/Redist Analysis/nc_alarm_plans2.csv

SC/Redist Analysis/output
SC/Redist Analysis/SC_ALARM_Ensemble_graph
SC/Redist Analysis/SC_ALARM_Ensemble_stats
SC/Redist Analysis/sc_alarm_plans.csv
SC/SC_Ensemble_Graphs/
SC/SC_Ensemble_Stats/
SC/SC_Processed/output/
SC/SC_Processed/sc_2024_gen_2020_blocks/
SC/SC_Processed/SC_ALARM/
SC/SC_Processed/sc_cong_adopted_2022/
SC/SC_Processed/sc_pl2020_b/
SC/SC_Processed/sc_pl2020_cnty/
SC/SC_Processed/sc_sldl_adopted_2024_shp/
SC/SC_Processed/sc_sldu_2021/
SC/SC_Processed/sc_vest_16/
SC/SC_Processed/sc_vest_18/
SC/SC_Processed/sc_vest_20/
SC/SC_Seed_Plans/
SC/SC_Stats/
SC/SC_assignment_current.json

NY_Processed_Precincts_Data/

Angela_Matching_Exploration.ipynb
First_Ensemble.ipynb
MCMC_Matching_Exploration.ipynb
Process_NY.ipynb

MEW_walkthrough/link_cut_MEW
